
@media screen and (min-width:431px) and (max-width:950px) {
 

    /* css gerais */    
        
    a { 
        color: black;
        text-decoration: none;
    }
    
    body {
        margin: auto;
        width: auto;  
        padding:0;
        display: flex;
        flex-direction: column;
          
    }
    
    h1 {
        font-family: "Luckiest Guy";
        font-weight: 400;
        font-size:  2rem;
        text-align: start;
    }
    
    p {
        font-family: "Open Sans";
        font-weight: 400;
        text-align: center;
        font-size: 1rem;
    }
    
/* ------ HEADER - Container------- */
    
    .header_container {
    
        
        padding: 15px;
        margin: auto;
        width: 100%;        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    
        color: white;
        background-image: url(../images/desktop/Header\ Background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        gap: 15px;
    
    }


    /* ------ HEADER - Content ------- */

    .header_content {

            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 600px;
            gap: 15px;

    }
    
    .header_content span {

        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

    }


    .header_bt_download {
    
        display: flex;
        justify-content: center;
        
        width: 20rem;
        padding: 10px;
        color: black;
        background-color: white;
        border:none;
        border-radius: 28px;
    
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 1rem;
            
    }
    
    .header_bt_open {
    
        display: flex;
        justify-content: center;
        
        width: 20rem;
        padding: 10px;
        color: rgb(255, 255, 255);
        background-color: #23272A;
        border:none;
        border-radius: 28px;
    
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 1rem;
            
    }
    
    /* -------MAIN - Container------- */
    
    .main_container {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content:space-between;
    
    }
    
    /* -------MAIN - Section  content------- */
    
    .section_content {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 45px 10px;
        gap: 25px;
        margin: 0px auto;
        width: 100%;
    }

    .section_content span {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        max-width: 600px;


    }
    
    .sct_2 {
    
        background: #F6F6F6;
    
    }
    
    .section_img {
    
        object-fit: cover;
        max-width: 100%;
        
    }
    
    
    /* ------- Footer - content------- */
    .footer_content {
    
        display: flex;
        flex-direction: column;
    
        padding: 30px;
    
        align-items: center;
        justify-content: center;
    
        background-color: #23272A;
        
    }
    
    
    }
